body{
    background-color: #333;
    color:rgb(199, 199, 199);
}

div{
    display: block;
    margin: 0 2rem;
}

nav{
    margin-bottom: 2.5rem;
    font-size: xx-large;
    border-bottom: 3px solid #3b3b4f; 
}

form{
    width:100%;
    min-width: 300px;
    min-height: 150px;
    margin: 0 auto;
    text-align: center;
}

label{
    display: block;
    margin-bottom: 1rem;
}

input{
    margin: auto;
    display: block;
    width: 150px;
}

a{
    text-decoration: none;
    color:whitesmoke;
}

a:hover{
    cursor: pointer;
    color:#6d6d6d;
}

/* ul */
.nav-items{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

/* li */
.navbar-item{
   display: inline;
   padding: 14px 16px;
}

/* a */
.nav-links{
   font-size: large;
}

.login-page{
    width:100%;
    max-width: 1500px;
    min-width: 300px;
    min-height: 150px;
    margin: 0 auto;
}

.div-parent{
    max-width: 800px;
    max-height: 400px;
    margin: 0 auto;
    border-bottom: 3px solid #3b3b4f;
}

.div-child{
    margin: 2rem auto;
    text-align: center;
}

.div-child p{
    margin-right: 7.25rem;
}

.borderless{
    border-bottom: 0;
}

.btn-submit{
    width: 160px;
    margin: .5rem auto;
    height: 25px;
    font-size: 15px;
}