<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Server</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  </head>
  <body>
    <nav>
      <ul class="nav-items"></ul>
        <a href="/">Test Site</a>
        <li class="navbar-item"><a class="nav-links"href="/user">User</a></li>
        <li class="navbar-item"><a class="nav-links" href="/owners">Site Owners</a></li>
        <li class="navbar-item"><a class="nav-links" href="/userdb">User Database</a></li>
        <li class="navbar-item"><a class="nav-links" style="float:right; margin-top:1rem;" href="/logout">Logout</a></li>
      </ul>
    </nav>
    <h1>{% block page %}{% endblock %}</h1>
      {% block content %}
      {% endblock %}
  </body>
</html>