body {
    background-color:rgb(21, 31, 34);
    color: whitesmoke;
}
image{
    max-width: 100%;
    max-height:auto;
}

.container{
    margin: 0 auto;
    max-width: 500px;
    max-height: 500px;

}