<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Server</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  </head>
  <body>
    <nav>
      <a href="/">Test Site</a>
      <ul class="nav-items">
        <ul class="navbar-item"><a class="nav-links"href="/login">Site Owners</a></ul>
        <ul class="navbar-item" style="text-align: right;"><a class="nav-items" href="/logout">Logout</a></ul>
      </ul>
    </nav>
    <h1>{% block page %}{% endblock %}</h1>
      {% block content %}
      {% endblock %}
  </body>
</html>